*{
    font-family:'Acme', sans-serif;;
}

.card-img-overlay {
    position: initial;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.card-img {
    opacity: 0.5;
}

.img-fluid {
    width: 35%;
    border-radius: 8px;
    height: auto;
    padding: 1rem 0rem 2rem 0rem;
    float: right;
}

#link-cards {
    padding: 1rem;
}

#footer-links {
    position: relative;
    text-align: center;
    padding-bottom: 1rem;
}

.footer {
    padding: 1rem;
    padding-bottom: 1rem;
}